extends layout
body 
    .container
      .row
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
          a.navbar-brand(href='/homepage') Fashion
          nav.navbar.navbar-dark.bg-dark
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
          #navbarToggleExternalContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/homepage') Home
              li.nav-item
                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Men
                .dropdown
                  .dropdown-menu
                    a.dropdown-item(href='/men_watches') Men Watches
                    a.dropdown-item(href='/men_bracelets') Men bracelets
                    a.dropdown-item(href='/men_sunglasses') Men Sunglasses
              li.nav-item
                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Women
                .dropdown
                  .dropdown-menu
                    a.dropdown-item(href='/women_watches') Women Watches
                    a.dropdown-item(href='/women_bracelets') Women bracelets
                    a.dropdown-item(href='/women_sunglasses') Women Sunglasses
            form.form-inline.my-2.my-lg-0
            ul.nav.navbar-nav.navbar-right
              a.nav-link(href='/sign-up') Sign Up
              a.nav-link(href='/login') Login
              h6#cartCnt
              a.nav-link(href='/cart')
                img.cartImg(src='images/shopping-cart.png')
    hr(style='width:90%; margin: 10px auto')
