extends logout
body
block content
    .container
      p This is the cart page.
      hr
      .row
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
          a.navbar-brand(href='/users/homepage') Fashion
          nav.navbar.navbar-dark.bg-dark
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
          #navbarToggleExternalContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/users/homepage') Home
              li.nav-item
                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Men
                .dropdown
                  .dropdown-menu
                    a.dropdown-item(href='/users/men_watches') Men watches
                    a.dropdown-item(href='/users/men_bracelets') Men bracelets
                    a.dropdown-item(href='/users/men_sunglasses') Men sunglasses
              li.nav-item
                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Women
                .dropdown
                  .dropdown-menu
                    a.dropdown-item(href='/users/women_watches') Women watches
                    a.dropdown-item(href='/users/women_bracelets') Women bracelets
                    a.dropdown-item(href='/users/women_sunglasses') Women sunglasses
            form.form-inline.my-2.my-lg-0
            ul.nav.navbar-nav.navbar-right
              a.nav-link(href='/users/homepage') Logout
              a.nav-link(href='/users/cart')
                img.cartImg(src='images/shopping-cart.png')
