doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
    script(src='/app.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(href='/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Courgette', rel='stylesheet')
    base(href='/')
  body
    .container
      .row
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
          a.navbar-brand(href='/users/homepage') Fashion
          nav.navbar.navbar-dark.bg-dark
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
          #navbarToggleExternalContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/users/homepage') Home
              li.nav-item
                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Men
                .dropdown
                  .dropdown-menu
                    a.dropdown-item(href='/users/men_watches') Men Watches
                    a.dropdown-item(href='/users/men_bracelets') Men bracelets
                    a.dropdown-item(href='/users/men_sunglasses') Men Sunglasses
              li.nav-item
                button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Women
                .dropdown
                  .dropdown-menu
                    a.dropdown-item(href='/users/women_watches') Women Watches
                    a.dropdown-item(href='/users/women_bracelets') Women bracelets
                    a.dropdown-item(href='/users/women_sunglasses') Women Sunglasses
            form.form-inline.my-2.my-lg-0
            ul.nav.navbar-nav.navbar-right
              a.nav-link(href='/homepage') Logout
              a.nav-link(href='/users/cart')
                img.cartImg(src='images/shopping-cart.png')
    hr(style='width:90%; margin: 10px auto')
block content
